# Tarea 1 

Alumnos:

* Miguel Espinoza
* Sebastián López
* Pedro Pérez

## P1

### Parte 1

In [1]:
import os

folder = 'data/raw/'  #Carpeta principal en la que estan los archivos
weeks = os.listdir(folder)  #Se agregan las subcarpetas a una lista
weeks

['w13', 'w14', 'w15', 'w16', 'w17']

In [2]:
#Se crean dos listas para guardar los archivos normales
#y los 'furnished'
files = []
files_furnished = []

#Mediante un bucle for se guardan las direcciones de todos
#los archivos en las listas creadas
for week in weeks:
    direccion = folder + week + '/'
    file = os.listdir(direccion)
    files.append(direccion + file[0])
    files_furnished.append(direccion + file[1])
    
files

['data/raw/w13/metrocuadrado_all_w13.csv',
 'data/raw/w14/metrocuadrado_all_w14.csv',
 'data/raw/w15/metrocuadrado_all_w15.csv',
 'data/raw/w16/metrocuadrado_all_w16.csv',
 'data/raw/w17/metrocuadrado_all_w17.csv']

In [3]:
import pandas as pd

#Se lee el primer dataframe para observar los datos
data_all = pd.read_csv(files[0])
data_all.head(3)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2

En primer lugar se combinan los dataframes normales

In [4]:
data_all = pd.read_csv(files[0])

for file in files:
    dato_semanal = pd.read_csv(file)
    data_all = data_all.merge(dato_semanal, how = 'outer') 
    #Se pone 'outer' para hacer la union de todos los dataframes

print('Cantidad de datos: ', len(data_all))
data_all.head(3)

Cantidad de datos:  16470

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2

In [5]:
#Se ve si hay duplicados
print('Duplicados: ', data_all.duplicated().sum())

Duplicados:  175

In [6]:
#Se eliminan las filas duplicadas
data_all.drop_duplicates(inplace=True)
print('Cantidad de datos: ', len(data_all))

Cantidad de datos:  16295

Ahora se combinan los archivos furnished

In [7]:
data_furnished = pd.read_csv(files_furnished[0])

for file in files_furnished:
    dato_semanal = pd.read_csv(file)
    data_furnished = data_furnished.merge(dato_semanal, how='outer')

print('Cantidad de datos: ', len(data_furnished))
data_furnished.head(3)

Cantidad de datos:  2101

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index
0,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3.0,2.0,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3
1,"Casa en Venta Y Arriendo, BELLAVISTA Bogotá D.C..",$1.300.000,3.0,2.0,72.0 m2,"hermosa casa en venta y en arriendo en, mandal...",https://www.metrocuadrado.com/inmueble/venta-c...,41.4
2,"Casa en Arriendo, PORTALES DEL NORTE Bogotá D.C..",$1.800.000,3.0,3.0,76.81 m2,Estrato 4. CASA TRIPLEX!! Exterior . Cuenta co...,https://www.metrocuadrado.com/inmueble/arriend...,41.3

In [8]:
#Se buscan los duplicados y se eliminan
print('Duplicados: ', data_furnished.duplicated().sum())

Duplicados:  2

In [9]:
data_furnished.drop_duplicates(inplace=True)

print('Cantidad de datos: ', len(data_furnished))
#Se observa que son muchos menos los datos de tipo furnished

Cantidad de datos:  2099

Al intentar combinar ambos dataframes usando `data_all.merge(data_furnished, how='outer')` aparece el error:

`ValueError: You are trying to merge on object and float64 columns. If you wish to proceed you should use pd.concat`

Por lo que se decide comprobar los tipos de las columnas

In [10]:
#Se observan las columnas de los dataframe
print('Tipos Data All')
print(data_all.dtypes)
print()
print('Tipos Data Furnished')
print(data_furnished.dtypes)

Tipos Data All
property_type|rent_type|location     object
price                                object
n_rooms                              object
n_bath                               object
surface                              object
details                              object
url                                  object
metrocuadrado_index                 float64
dtype: object

Tipos Data Furnished
property_type|rent_type|location     object
price                                object
n_rooms                             float64
n_bath                              float64
surface                              object
details                              object
url                                  object
metrocuadrado_index                 float64
dtype: object

Se observa que el error se debe a que en `Data All` las columnas `n_rooms` y `n_bath` son de tipo `object`, en cambio en `Data Furnished` son de tipo `float64`.

Este problema se resuelve simplemente cambiando el tipo de esas columnas.

In [11]:
#Se cambian las columnas de 'data_furnished' a object
data_furnished = data_furnished.astype({'n_rooms':'object', 'n_bath':'object'})

#Obs: No se pueden cambiar las columnas de 'data_all' a float64, pues hay un dato llamado '5+'

In [153]:
#Se combinan los dataframes
data = data_all.merge(data_furnished, how='outer', indicator='Furnished')

#Se coloca utiliza el parámetro indicator para indicar de que dataframe 
#proviene cada fila.
#left_only indica que viene del dataframe 'data_all'
#right_only indica que viene del dataframe 'data_furnished'
#y both que proviene de ambos

print('Cantidad de datos: ', len(data))
data.head(3)

Cantidad de datos:  18394

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Furnished
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,left_only
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,left_only
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,left_only

In [154]:
data['Furnished'].replace({'left_only':'No', 'right_only':'Si', 'both':'Ambos'}, inplace=True)

#Se cambian los nombres para indicar más claramente si provienen de furnished o no
data.head(3)

,property_type|rent_type|location,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Furnished
0,"Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..",$1.050.000,3,2,63.0 m2,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,No
1,"Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...",$3.930.000,3,2,100.0 m2,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,No
2,"Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...",$750.000,3,1,90.0 m2,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,No

In [155]:
#Se cuentan la cantidad de cada valores de cada tipo
data['Furnished'].value_counts()

No    16295
Si     2099
Name: Furnished, dtype: int64

Como se observa no hay elementos comunes entre ambos grupos, son disjuntos. No hay archivos con texto 'furnished' que no estén contenidos en archivos con texto 'all'.

In [156]:
#Esto se comprueba tambien haciendo una intersección entre los dataframes
#mediante el argumento 'inner'
pd.merge(data_all, data_furnished, how='inner')

#Se observa que el resultado es un dataframe vacío

Empty DataFrame
Columns: [property_type|rent_type|location, price, n_rooms, n_bath, surface, details, url, metrocuadrado_index]
Index: []

### Parte 2

#### A

Primero se limpia el precio

In [157]:
data['price'].head(3)

0    $1.050.000
1    $3.930.000
2      $750.000
Name: price, dtype: object

Se observa que son de tipo `object`, pues el precio contiene el signo peso '$' y los puntos. Convendría eliminar este signo y los puntos para poder pasar los datos a `float64`.

In [158]:
data['price'] = data['price'].str.replace('$','')
data['price'] = data['price'].str.replace('.','')
data['price'].head(3)

0    1050000
1    3930000
2     750000
Name: price, dtype: object

In [159]:
#Se cambia el tipo a float64
data['price'] = data['price'].astype('float')
data['price'].head(3)

0    1050000.0
1    3930000.0
2     750000.0
Name: price, dtype: float64

Ahora se limpia el área

In [160]:
data['surface'].tail(4)

18390    164.34 m2
18391     110.0 m2
18392     106.0 m2
18393     135.0 m2
Name: surface, dtype: object

Se deben eliminar los carácteres ' m2' al final del número, y luego cambiar el tipo a `float`.

In [161]:
data['surface'] = data['surface'].str.replace(' m2','')
data['surface'] = data['surface'].astype('float')
data['surface'].tail(4)

18390    164.34
18391    110.00
18392    106.00
18393    135.00
Name: surface, dtype: float64

Ahora se limpia el número de habitaciones

In [162]:
data['n_rooms'].head(3)

0    3
1    3
2    3
Name: n_rooms, dtype: object

Parece que fueran números enteros, pero el tipo de la columna es object

In [163]:
#Se ven los valores de la columna
data['n_rooms'].unique()

array(['3', '5', '4', '2', '1', nan, '5+', 3.0, 5.0, 4.0, 2.0, 1.0],
      dtype=object)

Se observa que la columna tiene valores de tipo string y float. Más aún se ve que se podría cambiar inmediatamente el tipo a `float` sino existiera el valor `5+`.

In [164]:
#Se cuenta cuantas entradas hay de cada valor
data['n_rooms'].value_counts()

2      6571
1      6271
3      1351
4      1198
1.0    1040
2.0     938
5       862
3.0      52
5.0      36
4.0      32
5+        9
Name: n_rooms, dtype: int64

Se ve que solo son 9 las entradas con valor `5+`, por lo que es una parte infima del total del dataset que es de $18394$ entradas, simplemente se podrían eliminar. Pero como no se desea botar datos, se cambiará el valor `5+` por $6$, dado que es el entero mayor a 5 más cercano.

In [165]:
data['n_rooms'] = data['n_rooms'].replace('5+',6)
#Se reemplazan el valor que daba problemas, y se muestran los valores de las entradas
data['n_rooms'].unique()

array(['3', '5', '4', '2', '1', nan, 6, 3.0, 5.0, 4.0, 2.0, 1.0],
      dtype=object)

In [166]:
#Como esta correcto, se puede cambiar el tipo de la columna
data['n_rooms'] = data['n_rooms'].astype('float')
data['n_rooms'].head(3)

0    3.0
1    3.0
2    3.0
Name: n_rooms, dtype: float64

Por último se limpia el número de baños

In [167]:
data['n_bath'].tail(3)

18391    3
18392    3
18393    2
Name: n_bath, dtype: object

Nuevamente parecen ser enteros, pero el tipo es object

In [168]:
#Se ven los valores de la columna
data['n_bath'].unique()

array(['2', '1', '4', '3', nan, '5', '5+', 2.0, 3.0, 4.0, 5.0, 1.0],
      dtype=object)

Nuevamente el error viene dado por `5+`, por lo que se procede de igual manera que en `n_rooms`.

In [169]:
data['n_bath'] = data['n_bath'].replace('5+',6) #Se reemplazan '5+' por 6
data['n_bath'] = data['n_bath'].astype('float') #Se cambia el tipo a float
data['n_bath'].head(3)

0    2.0
1    2.0
2    1.0
Name: n_bath, dtype: float64

Finalmente se muestran nuevamente los tipos de las columnas

In [170]:
data.dtypes

property_type|rent_type|location     object
price                               float64
n_rooms                             float64
n_bath                              float64
surface                             float64
details                              object
url                                  object
metrocuadrado_index                 float64
Furnished                            object
dtype: object

#### B

Se debe dividir la columna `property_type|rent_type|location` en 3 columnas distintas.

In [171]:
#Se hace una copia de la data por si se realiza un error
copia_seguridad = data.copy()

In [151]:
#Cuando algo salga mal correr esta celda
data = copia_seguridad.copy()

In [172]:
#Se muestran unos pocos datos de esta columna
data['property_type|rent_type|location']

0          Casa en Arriendo, LA SOLEDAD NORTE Bogotá D.C..
1        Casa en Arriendo, CIUDAD SALITRE SUR-ORIENTAL ...
2        Casa en Arriendo, VILLA DE LOS ALPES II SECTOR...
3              Casa en Arriendo, PARIS GAITAN Bogotá D.C..
4        Casa en Arriendo, BALCONES DE ORIENTE Bogotá D...
                               ...
18389    Apartamento en Arriendo, CHICO NORTE Bogotá D.C..
18390    Apartamento en Arriendo, CHICO NORTE II Bogotá...
18391    Apartamento en Venta Y Arriendo, CHICO NORTE B...
18392    Apartamento en Arriendo, MOLINOS NORTE Bogotá ...
18393       Apartamento en Arriendo, EL NOGAL Bogotá D.C..
Name: property_type|rent_type|location, Length: 18394, dtype: object

Se pueden deducir varias cosas:
1. El tipo de propiedad es la primera palabra del string.
2. El tipo de renta aparece después de la palabra 'en' y un espacio ' '.
3. El lugar esta después de la coma.

En primer lugar se decide dividir el string en dos partes separadas por la coma.

In [173]:
new_columns = data['property_type|rent_type|location'].str.split(pat=',', expand=True)
new_columns.head(3)

                  0                                           1
0  Casa en Arriendo               LA SOLEDAD NORTE Bogotá D.C..
1  Casa en Arriendo    CIUDAD SALITRE SUR-ORIENTAL Bogotá D.C..
2  Casa en Arriendo   VILLA DE LOS ALPES II SECTOR Bogotá D.C..

In [174]:
#Se insertan las columnas en la data 
data[['property_type|rent_type', 'location']] = new_columns

#Se elimina la columna original
data.drop('property_type|rent_type|location', axis=1, inplace=True)

data.head(3)

,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Furnished,property_type|rent_type,location
0,1050000.0,3.0,2.0,63.0,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,No,Casa en Arriendo,LA SOLEDAD NORTE Bogotá D.C..
1,3930000.0,3.0,2.0,100.0,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,No,Casa en Arriendo,CIUDAD SALITRE SUR-ORIENTAL Bogotá D.C..
2,750000.0,3.0,1.0,90.0,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,No,Casa en Arriendo,VILLA DE LOS ALPES II SECTOR Bogotá D.C..

Ahora se divide la columna `property_type|rent_type` en dos columnas más.

In [175]:
new_columns = data['property_type|rent_type'].str.split(pat='en ', expand=True)
new_columns.head(3)

       0         1
0  Casa   Arriendo
1  Casa   Arriendo
2  Casa   Arriendo

In [176]:
#Se insertan las columnas en la data y se elimina la columna original
data[['property','rent']] = new_columns
data.drop('property_type|rent_type', axis=1, inplace=True)
data.head(3)

,price,n_rooms,n_bath,surface,details,url,metrocuadrado_index,Furnished,location,property,rent
0,1050000.0,3.0,2.0,63.0,Excelente casa cerca de la calle 80 y Avenida ...,https://www.metrocuadrado.com/inmueble/arriend...,25.6,No,LA SOLEDAD NORTE Bogotá D.C..,Casa,Arriendo
1,3930000.0,3.0,2.0,100.0,Se arrienda casa bonita totalmente amoblada co...,https://www.metrocuadrado.com/inmueble/arriend...,57.3,No,CIUDAD SALITRE SUR-ORIENTAL Bogotá D.C..,Casa,Arriendo
2,750000.0,3.0,1.0,90.0,CASA DE TRES NIVELES TRES ALCOBAS SALA COMEDOR...,https://www.metrocuadrado.com/inmueble/arriend...,12.2,No,VILLA DE LOS ALPES II SECTOR Bogotá D.C..,Casa,Arriendo

Por último se revisa que no hayan espacios vacíos al inicio o final de las nuevas columnas.

In [178]:
print(data['location'][0])
print(data['property'][0])
print(data['rent'][0])

 LA SOLEDAD NORTE Bogotá D.C..
Casa
Arriendo

Tanto location como property tienen espacios, por lo que se utiliza strip para eliminarlos.

In [182]:
data['location'] = data['location'].str.strip()
data['property'] = data['property'].str.strip()

### Parte 3

### Parte 4

### Parte 5

### Parte 6

## P2

# P3

## Implementación

In [102]:
import pandas as pd

#Datos para prueba
df = pd.read_csv('data.csv')

In [103]:
df.dropna(inplace=True)
df.drop(['price','surface','url','details'],axis=1,inplace=True)

In [104]:
df.columns

Index(['n_rooms', 'n_bath', 'metrocuadrado_index', 'Furnished', 'location',
       'property', 'rent', 'Precio m2', 'Garajes', 'tipo de producto',
       'CodigoUPZ', 'personas', 'trabajoinf_ninos_5_17_anos_perc',
       'trabajoinfampliado_ninos_5_17_anos_perc',
       'jovenes_14_24_anos_nini_perc', 'indice_envegecimiento',
       'jefe_mujer_perc', 'adultos_mayores_pobres_perc', 'indice_inseguridad',
       'areas_verdes_perc'],
      dtype='object')

In [105]:
num_cols=['metrocuadrado_index','personas','trabajoinf_ninos_5_17_anos_perc','trabajoinfampliado_ninos_5_17_anos_perc','jovenes_14_24_anos_nini_perc',
         'indice_envegecimiento','jefe_mujer_perc','adultos_mayores_pobres_perc','indice_inseguridad','areas_verdes_perc']
cat_cols=list(df.columns.difference(set(num_cols).union({'Precio m2'})))

df_y = df['Precio m2']#.to_numpy()
df_X = df[df.columns.difference({'Precio m2'})]#.to_numpy()

In [106]:
df_X

,CodigoUPZ,Furnished,Garajes,adultos_mayores_pobres_perc,areas_verdes_perc,indice_envegecimiento,indice_inseguridad,jefe_mujer_perc,jovenes_14_24_anos_nini_perc,location,metrocuadrado_index,n_bath,n_rooms,personas,property,rent,tipo de producto,trabajoinf_ninos_5_17_anos_perc,trabajoinfampliado_ninos_5_17_anos_perc
3,UPZ29,No,0,8.406360,37.852289,71.1,1.029160,37.073314,12.6,PARIS GAITAN,56.0,4.0,5.0,156375.0,Casa,Arriendo,9.0,1.1,0.8
4,UPZ12,No,1,5.420442,32.395663,54.7,3.166227,36.279630,9.1,BALCONES DE ORIENTE,47.1,3.0,4.0,50037.0,Casa,Arriendo,1.0,1.8,16.7
5,UPZ27,No,0,13.750649,45.096719,24.8,3.225806,34.847797,17.2,TIBABUYES,32.4,2.0,3.0,158990.0,Casa,Arriendo,9.0,0.4,1.8
6,UPZ29,No,1,8.406360,37.852289,71.1,1.029160,37.073314,12.6,PARIS GAITAN,60.9,4.0,4.0,156375.0,Casa,Arriendo,9.0,1.1,0.8
11,UPZ16,No,0,3.840225,25.466350,127.3,1.161103,38.443910,5.2,CAMPO ALEGRE,40.5,2.0,3.0,115124.0,Casa,Arriendo,9.0,1.5,2.0
12,UPZ14,No,1,3.840225,45.988424,127.3,2.505219,38.443910,5.2,SANTA ANA ORIENTAL,55.9,2.0,2.0,115124.0,Casa,Arriendo,1.0,1.5,2.0
13,UPZ44,No,1,7.177579,32.689542,50.9,1.836735,32.079831,12.1,HIPOTECHO II,54.9,4.0,3.0,106843.0,Casa,Arriendo,9.0,1.3,9.4
14,UPZ17,No,1,3.631726,14.910678,52.0,24.175824,38.074812,11.2,MIRANDELA,35.1,2.0,3.0,66427.0,Casa,Arriendo,9.0,0.2,17.6
15,UPZ19,No,0,5.406574,30.455465,59.1,1.052632,32.887202,8.2,COSTA AZUL,54.3,1.0,2.0,121158.0,Casa,Arriendo,9.0,0.3,8.0
17,UPZ18,No,1,9.439051,38.278090,42.7,2.527076,36.465059,9.4,CANTALEJO,39.6,2.0,4.0,69961.0,Casa,Arriendo,1.0,0.4,7.2
18,UPZ31,No,0,7.638133,24.549297,76.6,1.158301,35.811188,7.1,NORMANDIA OCCIDENTAL,65.8,2.0,4.0,90943.0,Casa,Arriendo,1.0,0.0,5.3
20,UPZ27,No,0,13.750649,45.096719,24.8,3.225806,34.847797,17.2,TIBABUYES,28.7,2.0,4.0,158990.0,Casa,Arriendo,9.0,0.4,1.8
21,UPZ17,No,1,3.631726,14.910678,52.0,24.175824,38.074812,11.2,MIRANDELA,19.5,2.0,3.0,66427.0,Casa,Arriendo,9.0,0.2,17.6
22,UPZ73,No,1,7.632205,55.122886,43.1,4.584041,37.537474,12.7,BOSQUES DE MARIANA,55.4,2.0,3.0,148791.0,Casa,Arriendo,9.0,0.2,12.8
24,UPZ112,No,1,6.688596,32.151794,24.7,11.157025,26.367889,7.9,ESTACION VICTORIA,28.7,2.0,3.0,24897.0,Casa,Arriendo,1.0,0.1,8.4
25,UPZ46,No,0,5.133683,38.051217,33.6,1.438849,37.497429,12.4,VILLA ALSACIA,37.5,2.0,4.0,166766.0,Casa,Arriendo,9.0,1.3,0.9
26,UPZ81,No,1,23.841878,39.624398,29.6,0.332226,36.582791,22.8,BRITALIA,67.3,3.0,3.0,92200.0,Casa,Arriendo,1.0,1.1,4.7
27,UPZ27,No,1,13.750649,45.096719,24.8,3.225806,34.847797,17.2,SAN JORGE,57.2,3.0,4.0,158990.0,Casa,Arriendo,9.0,0.4,1.8
31,UPZ18,No,0,9.439051,38.278090,42.7,2.527076,36.465059,9.4,CANTALEJO,52.5,2.0,3.0,69961.0,Casa,Arriendo,9.0,0.4,7.2
32,UPZ45,No,1,25.517579,20.926563,50.7,0.896057,36.570121,19.9,TIMIZA,46.6,2.0,4.0,133515.0,Casa,Arriendo,9.0,0.9,1.5
33,UPZ41,No,1,14.005861,26.057273,62.1,2.240896,38.518565,13.5,AUTOPISTA MUZU,38.8,2.0,4.0,50106.0,Casa,Arriendo,1.0,1.7,30.6
34,UPZ44,No,1,7.177579,32.689542,50.9,1.836735,32.079831,12.1,HIPOTECHO III,57.5,2.0,3.0,106843.0,Casa,Arriendo,1.0,1.3,9.4
35,UPZ70,No,1,28.607528,51.397607,15.9,7.835821,36.795481,25.9,BELLAVISTA,41.4,2.0,3.0,112706.0,Casa,Venta Y Arriendo,9.0,1.8,3.9
36,UPZ16,No,1,3.840225,25.466350,127.3,1.161103,38.443910,5.2,MOLINOS NORTE,33.6,2.0,1.0,115124.0,Casa,Arriendo,1.0,1.5,2.0
37,UPZ13,No,1,3.250000,35.573427,118.4,0.782269,33.286852,5.5,CEDRO BOLIVAR,49.5,4.0,4.0,102981.0,Casa,Arriendo,9.0,0.0,3.5
38,UPZ37,No,1,5.841260,8.655015,70.0,0.484262,40.287909,13.1,LA LIBERIA,33.4,2.0,3.0,43337.0,Casa,Arriendo,1.0,1.6,45.2
39,UPZ30,No,1,6.645164,26.656117,62.8,0.931315,36.794869,11.7,LA GRANJA,55.9,2.0,3.0,141449.0,Casa,Arriendo,9.0,0.3,0.3
41,UPZ17,No,1,3.631726,14.910678,52.0,24.175824,38.074812,11.2,NUEVA ZELANDIA,36.0,2.0,3.0,66427.0,Casa,Arriendo,9.0,0.2,17.6
42,UPZ37,No,1,5.841260,8.655015,70.0,0.484262,40.287909,13.1,LA LIBERIA,34.4,2.0,3.0,43337.0,Casa,Arriendo,9.0,1.6,45.2
43,UPZ44,No,1,7.177579,32.689542,50.9,1.836735,32.079831,12.1,LA ISABELA,34.8,2.0,3.0,106843.0,Casa,Arriendo,9.0,1.3,9.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18365,UPZ20,Si,1,1.034990,34.217127,140.8,2.580645,39.741321,4.3,ESTORIL,54.2,1.0,1.0,91513.0,Apartamento,Arriendo,7.0,0.0,1.6
18366,UPZ97,Si,0,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE II,68.4,1.0,1.0,52951.0,Apartamento,Arriendo,7.0,0.0,17.0
18367,UPZ91,Si,0,9.697344,57.497910,133.3,13.537118,44.338039,9.9,SAGRADO CORAZON,41.5,1.0,1.0,17226.0,Apartamento,Arriendo,7.0,3.5,125.7
18368,UPZ97,Si,1,5.401917,20.901367,153.4,2.047782,44.667815,4.3,ANTIGUO COUNTRY,73.1,2.0,2.0,52951.0,Apartamento,Arriendo,7.0,0.0,17.0
18369,UPZ16,Si,2,3.840225,25.466350,127.3,1.161103,38.443910,5.2,SANTA BARBARA OCCIDENTAL,55.0,2.0,2.0,115124.0,Apartamento,Arriendo,8.0,1.5,2.0
18370,UPZ69,Si,2,18.899097,35.622693,16.9,1.628664,35.008129,21.0,SANTA BIBIANA,58.0,2.0,2.0,188751.0,Apartamento,Arriendo,8.0,1.2,3.9
18371,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE III,65.3,2.0,2.0,52951.0,Apartamento,Arriendo,7.0,0.0,17.0
18372,UPZ90,Si,1,5.814843,53.518710,81.4,19.548872,47.033692,8.2,EMAUS,75.0,2.0,2.0,53837.0,Apartamento,Arriendo,7.0,0.0,30.2
18373,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE,59.7,2.0,2.0,52951.0,Apartamento,Arriendo,7.0,0.0,17.0
18374,UPZ29,Si,2,8.406360,37.852289,71.1,1.029160,37.073314,12.6,MARIA CRISTINA,32.5,2.0,2.0,156375.0,Apartamento,Arriendo,7.0,1.1,0.8
18375,UPZ13,Si,1,3.250000,35.573427,118.4,0.782269,33.286852,5.5,ACACIAS USAQUEN,62.6,2.0,2.0,102981.0,Apartamento,Arriendo,8.0,0.0,3.5
18376,UPZ16,Si,2,3.840225,25.466350,127.3,1.161103,38.443910,5.2,SAN PATRICIO,49.1,3.0,2.0,115124.0,Apartamento,Arriendo,8.0,1.5,2.0
18377,UPZ16,Si,2,3.840225,25.466350,127.3,1.161103,38.443910,5.2,SAN PATRICIO,36.6,3.0,2.0,115124.0,Apartamento,Arriendo,8.0,1.5,2.0
18378,UPZ97,Si,1,5.401917,20.901367,153.4,2.047782,44.667815,4.3,ANTIGUO COUNTRY,61.5,2.0,2.0,52951.0,Apartamento,Arriendo,7.0,0.0,17.0
18379,UPZ16,Si,1,3.840225,25.466350,127.3,1.161103,38.443910,5.2,MOLINOS NORTE,57.7,2.0,2.0,115124.0,Apartamento,Arriendo,7.0,1.5,2.0
18380,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE,53.9,3.0,2.0,52951.0,Apartamento,Arriendo,8.0,0.0,17.0
18381,UPZ97,Si,1,5.401917,20.901367,153.4,2.047782,44.667815,4.3,QUINTA CAMACHO,56.8,3.0,2.0,52951.0,Apartamento,Arriendo,8.0,0.0,17.0
18382,UPZ72,Si,2,5.664154,67.269012,37.2,5.249344,34.496396,8.3,LOS CEDROS,53.6,3.0,2.0,90440.0,Apartamento,Venta Y Arriendo,8.0,0.6,0.5
18383,UPZ114,Si,1,2.615948,39.319972,70.5,3.794038,39.046371,10.4,PLENITUD,69.9,2.0,2.0,52601.0,Apartamento,Arriendo,7.0,0.5,7.9
18384,UPZ16,Si,1,3.840225,25.466350,127.3,1.161103,38.443910,5.2,MOLINOS NORTE,63.7,2.0,2.0,115124.0,Apartamento,Arriendo,7.0,1.5,2.0
18385,UPZ114,Si,1,2.615948,39.319972,70.5,3.794038,39.046371,10.4,PLENITUD,84.0,2.0,2.0,52601.0,Apartamento,Venta Y Arriendo,7.0,0.5,7.9
18387,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,LA CABRERA,51.6,3.0,2.0,52951.0,Apartamento,Arriendo,8.0,0.0,17.0
18388,UPZ97,Si,1,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE,66.1,2.0,2.0,52951.0,Apartamento,Arriendo,8.0,0.0,17.0
18389,UPZ16,Si,2,3.840225,25.466350,127.3,1.161103,38.443910,5.2,CHICO,56.6,3.0,2.0,115124.0,Apartamento,Arriendo,12.0,1.5,2.0
18390,UPZ28,Si,3,10.136608,39.828932,24.5,0.883652,42.462575,15.6,LOS ROSALES,54.3,3.0,2.0,370385.0,Apartamento,Arriendo,12.0,1.4,0.3
18391,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE,55.6,3.0,2.0,52951.0,Apartamento,Arriendo,12.0,0.0,17.0
18392,UPZ97,Si,1,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE II,26.1,2.0,2.0,52951.0,Apartamento,Arriendo,12.0,0.0,17.0
18393,UPZ97,Si,2,5.401917,20.901367,153.4,2.047782,44.667815,4.3,CHICO NORTE,50.8,3.0,2.0,52951.0,Apartamento,Venta Y Arriendo,8.0,0.0,17.0
18394,UPZ16,Si,2,3.840225,25.466350,127.3,1.161103,38.443910,5.2,MOLINOS NORTE,44.4,3.0,2.0,115124.0,Apartamento,Arriendo,8.0,1.5,2.0
18395,UPZ88,Si,1,5.401917,49.369840,153.4,13.235294,44.667815,4.3,EL NOGAL,49.6,2.0,2.0,52951.0,Apartamento,Arriendo,12.0,0.0,17.0

### Parte 1

In [107]:
from sklearn.base import BaseEstimator as BE
from sklearn.base import RegressorMixin as RM
import numpy as np

class RegresionBayesianaEmpirica(BE,RM):
    
    def __init__(self,alpha_0,beta_0,tol=10**(-5),maxiter=200):
        self.__alpha = alpha_0
        self.__beta = beta_0
        self.__tol = tol
        self.__maxiter = maxiter
        
    def get_posteriori(self,X,y,alpha,beta):
        N,d = X.shape
        try:
            S_N = np.linalg.inv(alpha*np.eye(d) + beta*np.dot(X.T,X)) # dim dxd
        except LinAlgError:
            print('Matriz S_N no invertible')
        m_N = beta*np.dot(S_N,np.dot(X.T,y)) # dim dx1
        #K = np.exp( (-1/2)*(beta*np.dot(y.T,y) - (beta**2)*np.dot(y.T,np.dot(X,np.dot(S_N,np.dot(X.T,y))))) )*(np.linalg.det(S_N)**0.5)*((2*np.pi)**(d/2 - N))*(alpha**(d/2))*(beta**(N/2))
        
        #def dens_posteriori(w):
            # w de dim dx1
            #return K*((2*np.pi)**(-d/2))*(np.linalg.det(S_N)**(-0.5))*np.exp(-0.5*(((w-m_N).T)*(np.linalg.inv(S_N))*(w-m_N)))
        
        return m_N, S_N#, dens_posteriori
    
    
    def fit(self,X,y,i=0):
        i += 1
        print('Iteracion',i)
        print('Valores actuales: alpha=',self.__alpha,' beta=',self.__beta)
        if i <= self.__maxiter:
            N,d = X.shape
            eigen_val, eigen_vec = np.linalg.eig(self.__beta*np.dot(X.T,X))
            gamma = np.sum(eigen_val/(self.__alpha + eigen_val))
            m_N, S_N = self.get_posteriori(X,y,self.__alpha,self.__beta)
        
            new_alpha = gamma/(np.dot(m_N.T,m_N))
            new_beta = (N-gamma)/(np.sum((y-np.dot(X,m_N))**2))
        
            if np.abs(self.__alpha - new_alpha) < self.__tol and np.abs(self.__beta - new_beta) < self.__tol:
                self.__alpha = new_alpha
                self.__beta = new_beta
                self.__m_N = m_N
                self.__S_N = S_N
            else:
                self.__alpha = new_alpha
                self.__beta = new_beta
                self.__m_N = m_N
                self.__S_N = S_N
                self.fit(X,y,i)
                
    
    def predict(self,X_,return_std=False):
        y_ = np.dot(X_,self.__m_N)
        y_std = np.sqrt((1/self.__beta)*np.dot(X_,np.dot(self.__S_N,X_.T)))
        
        if return_std:
            return (y_,y_std)
        return y_

### Parte 2

In [108]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, PolynomialFeatures, FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

def data_1d(df_column):
    return df_column.values.reshape([-1,1])

#reshape
rs = FunctionTransformer(data_1d)

#cat pipe
#('reshape', rs)
cat_pipe = Pipeline([('ordinal', OneHotEncoder(handle_unknown='ignore'))])

#num pipe
num_pipe = Pipeline([('scaler',StandardScaler()),('poly',PolynomialFeatures(degree=3))])

#Se diferencian columnas numéricas y categóricas
prep = ColumnTransformer(transformers=[('num',num_pipe,num_cols),('cat',cat_pipe,cat_cols)])

### Parte 3

In [109]:
from sklearn.model_selection import train_test_split

def run(df_X, df_y, pipeline):
    X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2)
    
    pipeline.fit(X_train,y_train)
    y_pred = pipeline.predict(X_test) 
    
    #Tubo = Pipeline([('prep',prep),('clf', RegressionBayesianaEmpirica(alpha_ini,beta_ini))])
    #Tubo.fit(X_train, y_train)
    #y_pred = Tubo.predict(X_test)
    
    R_2 = Tubo.score(X_test, y_test)
    RMSE = np.sqrt(np.mean((y_pred-y_test)**2))
    print('RMSE:',RMSE,' R_2:',R_2)

### Parte 4

In [119]:
alpha_ini = 1e-7
beta_ini = 1e-8
Tubo = Pipeline([('prep',prep)])#,('clf', RegresionBayesianaEmpirica(alpha_ini,beta_ini))])
#run(df_X,df_y,Tubo)
Tubo.fit(df_X,df_y).transform(df_X)

array([[ 1.        ,  0.10801782,  1.0462988 , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        , -0.53788522, -0.74075625, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        , -1.60471384,  1.09024498, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 1.        , -0.26936373, -0.69178525, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        , -0.73383333,  0.3530583 , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.        , -0.35645178, -0.69178525, ...,  0.        ,
         0.        ,  1.        ]])

### Parte 5

In [94]:
from sklearn.linear_model import BayesianRidge

BR_pipe = Pipeline([('prep',prep),('clf',BayesianRidge())])
run(df_X,df_y,BR_pipe)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').